/CIS-170/FinancialApp/nbproject/private/
/CIS-170/FinancialApp/build/
/CIS-170/PopulationProjection/nbproject/private/
/CIS-170/PopulationProjection/build/
/CIS-170/MadLibs/nbproject/private/
/CIS-170/MadLibs/build/
/CIS-170/MadLibs/dist/
/CIS-170/Ex63/build/
/CIS-170/nbproject/private/
/CIS-170/build/
/Method4/nbproject/private/
/Method4/build/