/Ascii/nbproject/private/
/Ascii/build/
/ThreeCities/nbproject/private/
/ThreeCities/build/
/Ex63/build/
/Ex68/nbproject/private/
/Ex68/build/
/FeetMeters/nbproject/private/
/FeetMeters/build/
/GameCharacter/nbproject/private/
/GameCharacter/build/